<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <style>
        .chessboard {
            display: grid;
            grid-template-columns: repeat(8, minmax(0, 1fr));
            grid-template-rows: repeat(8, minmax(0, 1fr));
            width: 400px;
            height: 400px;
        }

        .piece.white {
            color: white;
            filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
        }

        .piece.black {
            color: black;
        }

        .square {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .square.light {
            background-color: #f0d9b5;
        }

        .square.dark {
            background-color: #b58863;
        }

        .piece {
            font-size: 36px;
            cursor: pointer;
        }

        .piece.draggable {
            cursor: grab;
        }

        .dragging {
            opacity: 0.5;
        }
        .highlight {
            background: rgba(126, 255, 126, 0.5);
            border: 2px solid rgba(126, 255, 126, 0.5);
        }
    </style>
</head>
<body>
    <div class="w-full h-screen flex flex-col items-center justify-center bg-zinc-900">
        <div class="timers text-white flex justify-between w-96 mb-4">
            <div id="white-timer">5:00</div>
            <div id="black-timer">5:00</div>
        </div>
        <div class="flex">
            <div class="chessboard"></div>
            <div id="move-history" class="text-white ml-4 overflow-y-scroll h-96"></div>
        </div>
        <div class="flex mt-4">
            <button id="undo-button" class="btn text-white">Undo</button>
            <button id="redo-button" class="btn ml-4  text-white">Redo</button>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
    <script src="/javascripts/chessgame.js"></script>
</body>
</html>
